// Modulos
@import "variables";
@import "buttons";
@import "links";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Yellowtail&display=swap");

// Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 3rem;
	background-image: url(fondo1.jpg);
	background-size: cover;
	background-position: center;
	color: $blanco;
}

.titulo {
	text-align: center;
	margin-bottom: 2rem;
	font-family: "Yellowtail", cursive;
	font-size: max(calc(1.5rem + 3vw), 3rem);
	color: $primary;
}
.description {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.contenedor {
	max-width: 500px;
}

.column {
	flex-direction: column !important;
}
.form-lista-tareas {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;

	label {
		display: block;
		font-size: 1.2rem;
	}
	input {
		margin-bottom: 1rem;
		padding: 0.5rem;
		background: none;
		border: none;
		border-bottom: 2px solid $primary;
		font-size: 1.2rem;
		transition: all 0.2s;
		color: $blanco;
		&:focus-visible {
			transform: scale(1.05);
			border-color: $acento;
			outline: none;
		}
	}
}

#resultado {
	width: 100%;
	border: 2px solid $primary;
	padding: 0.6rem 0.8rem;
	border-radius: 4px;
}

ul li {
	list-style: none;
	width: 100%;
	text-align: center;
}

#go-back {
	position: absolute;
	top: 2%;
	left: 2%;
	a {
		padding: 0;
	}
	svg {
		$size: 80px;
		width: $size;
		height: auto;
		fill: $blanco;
		&:hover {
			fill: $primary;
		}
		&:active {
			transform: rotate(5deg);
		}
	}
}

.tachado {
	opacity: 0.6;
	transform: scale(0.9);
}

#temporizador {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	
	label {
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
	}
	input{
		color: $primary;
		padding: .5rem;
		margin: .5rem 0 1rem;
		background: none;
		border: none;
		font-size: 3rem;
		font-weight: bold;
		width: 3ex;
	}
}
