@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Yellowtail&display=swap");
.btn, .btn-secondary, .btn-primary, #clima-ui #consultar {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  background: none;
  font-size: 1.2rem;
}
.btn:active, .btn-secondary:active, .btn-primary:active, #clima-ui #consultar:active {
  transform: translateY(2px);
}

.btn-primary, #clima-ui #consultar {
  color: #86d828;
  border: 2px solid #86d828;
  border-radius: 4px;
}
.btn-primary:hover, #clima-ui #consultar:hover {
  background-color: #86d828;
  color: #fff;
  transition: all 0.3s, transform 0.1s;
}

.btn-secondary {
  color: #86d828;
  border: none;
  background: none;
}

a {
  color: azure;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  color: #ee63b9;
}

.link:link {
  color: #86d828;
}
.link:active {
  transform: scale(0.98);
}
.link:visited {
  color: #86d828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  background-image: url(fondo1.jpg);
  background-size: cover;
  background-position: center;
  color: #f3f3f3;
}

h1 {
  animation: aparecer 1.5s ease;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.apps a {
  width: max-content;
}

.titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Yellowtail", cursive;
  font-size: max(1.5rem + 3vw, 3rem);
  color: #86d828;
}

.description {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contenedor {
  max-width: 500px;
}

.footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer p {
  font-size: 1.2rem;
  text-align: center;
}
.footer .footer-logo {
  width: 2rem;
}
.footer .footer-logo img {
  width: 100%;
}

.column {
  flex-direction: column !important;
}

.form-lista-tareas {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.form-lista-tareas label {
  display: block;
  font-size: 1.2rem;
}
.form-lista-tareas input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid #86d828;
  font-size: 1.2rem;
  transition: all 0.2s;
  color: #f3f3f3;
}
.form-lista-tareas input:focus-visible {
  transform: scale(1.05);
  border-color: #ee63b9;
  outline: none;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tarea span:first-child {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.tarea:not(:last-child) {
  margin-bottom: 0.5rem;
}

.tachado {
  opacity: 0.6;
  font-style: italic;
}

.botones {
  display: flex;
  gap: 0.5rem;
}
.botones img {
  width: 2rem;
}
.botones img:active {
  transform: scale(0.9);
}

#resultado {
  width: 100%;
  border: 2px solid #86d828;
  padding: 0.8rem;
  border-radius: 4px;
}

ul li {
  list-style: none;
  width: 100%;
}

#go-back {
  position: absolute;
  top: 2%;
  left: 2%;
}
#go-back a {
  padding: 0;
}
#go-back svg {
  width: 80px;
  height: auto;
  fill: #f3f3f3;
}
#go-back svg:hover {
  fill: #86d828;
}
#go-back svg:active {
  transform: rotate(5deg);
}

#temporizador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#temporizador label {
  display: flex;
  flex-direction: column;
}
#temporizador label p {
  font-size: 1.2rem;
  text-align: center;
}
#temporizador input {
  text-align: center;
  width: 100px;
  color: #86d828;
  margin-bottom: 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: bold;
}
#temporizador input[type=number] {
  -moz-appearance: textfield;
}
#temporizador input[type=number]::-webkit-inner-spin-button,
#temporizador input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#botones-temporizador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#temporizador-reloj {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

#clima-ui input[type=text] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid #86d828;
  font-size: 1.2rem;
  transition: all 0.2s;
  color: #f3f3f3;
}
#clima-ui input[type=text]:focus-visible {
  border-color: #ee63b9;
  outline: none;
}
#clima-ui #el-clima {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
#clima-ui #resultado {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#clima-ui #resultado .datos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#clima-ui #resultado h2 {
  font-size: calc(1.5rem + 2.8vw);
  font-family: "Yellowtail", cursive;
}
#clima-ui #resultado .grados {
  font-size: calc(2.2rem + 2.7vw);
}
#clima-ui #resultado .descripcion {
  font-size: 1.2rem;
}
#clima-ui #resultado .mas-datos {
  font-size: 1.2rem;
}
#clima-ui #resultado .mas-datos span {
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  .apps {
    flex-direction: row;
  }

  #el-clima {
    gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
