@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Yellowtail&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
.btn, .btn-secondary, .btn-primary {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  background: none;
  font-size: 1.2rem;
}
.btn:active, .btn-secondary:active, .btn-primary:active {
  transform: translateY(2px);
}

.btn-primary {
  color: #86d828;
  border: 2px solid #86d828;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #86d828;
  color: #fff;
  transition: all 0.3s transform 0.1s;
}

.btn-secondary {
  color: #86d828;
  border: none;
  background: none;
}

a {
  color: azure;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  color: #ee63b9;
}

.link:link {
  color: #86d828;
}
.link:active {
  transform: scale(0.98);
}
.link:visited {
  color: #86d828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  background-image: url(fondo1.jpg);
  background-size: cover;
  background-position: center;
  color: #f3f3f3;
}

.titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Yellowtail", cursive;
  font-size: max(1.5rem + 3vw, 3rem);
  color: #86d828;
}

.description {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.contenedor {
  max-width: 500px;
}

.column {
  flex-direction: column !important;
}

.form-lista-tareas {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.form-lista-tareas label {
  display: block;
  font-size: 1.2rem;
}
.form-lista-tareas input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid #86d828;
  font-size: 1.2rem;
  transition: all 0.2s;
  color: #f3f3f3;
}
.form-lista-tareas input:focus-visible {
  transform: scale(1.05);
  border-color: #ee63b9;
  outline: none;
}

#resultado {
  width: 100%;
  border: 2px solid #86d828;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
}

ul li {
  list-style: none;
  width: 100%;
  text-align: center;
}

#go-back {
  position: absolute;
  top: 2%;
  left: 2%;
}
#go-back a {
  padding: 0;
}
#go-back svg {
  width: 80px;
  height: auto;
  fill: #f3f3f3;
}
#go-back svg:hover {
  fill: #86d828;
}
#go-back svg:active {
  transform: rotate(5deg);
}

.tachado {
  opacity: 0.6;
  transform: scale(0.9);
}

#temporizador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#temporizador label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
#temporizador input {
  color: #86d828;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  width: 3ex;
}

/*# sourceMappingURL=style.css.map */
