// Modulos
@import "variables";
@import "buttons";
@import "links";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&family=Yellowtail&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 3rem;
	background-image: url(fondo1.jpg);
	background-size: cover;
	background-position: center;
	color: $blanco;
}
h1{
	animation: aparecer 1.5s ease;
}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.apps {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	a {
		width: max-content;
	}
}

.titulo {
	text-align: center;
	margin-bottom: 2rem;
	font-family: "Yellowtail", cursive;
	font-size: max(calc(1.5rem + 3vw), 3rem);
	color: $primary;
}
.description {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.contenedor {
	max-width: 500px;
}
.footer {
	position: absolute;
	bottom: 1%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	p {
		font-size: 1rem;
		text-align: center;
	}
	.footer-logo {
		width: 1.8rem;
		img {
			width: 100%;
		}
	}
}

.column {
	flex-direction: column !important;
}
.form-lista-tareas {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;

	label {
		display: block;
		font-size: 1.2rem;
	}
	input {
		margin-bottom: 1rem;
		padding: 0.5rem;
		background: none;
		border: none;
		border-bottom: 2px solid $primary;
		font-size: 1.2rem;
		transition: all 0.2s;
		color: $blanco;
		&:focus-visible {
			transform: scale(1.05);
			border-color: $acento;
			outline: none;
		}
	}
}
.tarea{
	display: flex;
	justify-content: space-between;
	align-items: center;
	span:first-child{
		margin-right: .5rem;
		font-size: 1.2rem;
	}
	&:not(:last-child){
		margin-bottom: .5rem;
	}
}
.tachado {
	opacity: 0.6;
	//transform: scale(0.9);
	font-style: italic;
}
.botones{
	display: flex;
	gap: .5rem;
	img{
		width: 2rem;
		&:active{
			transform: scale(0.9);
		}
	}
}
#resultado {
	width: 100%;
	border: 2px solid $primary;
	padding: 0.8rem;
	border-radius: 4px;
}

ul li {
	list-style: none;
	width: 100%;
}

#go-back {
	position: absolute;
	top: 2%;
	left: 2%;
	a {
		padding: 0;
	}
	svg {
		$size: 80px;
		width: $size;
		height: auto;
		fill: $blanco;
		&:hover {
			fill: $primary;
		}
		&:active {
			transform: rotate(5deg);
		}
	}
}

#temporizador {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	label {
		display: flex;
		flex-direction: column;
		p {
			font-size: calc(1rem + 1vw);
			text-align: center;
		}
	}
	input {
		text-align: center;
		width: 100px;
		color: $primary;
		margin-bottom: 1rem;
		background: none;
		border: none;
		font-size: calc(3rem + 1vw);
		font-weight: bold;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

}
#botones-temporizador {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
#temporizador-reloj {
	font-size: calc(3rem + 1vw);
	margin: 1rem 0;
	text-align: center;
	p{
		font-size: calc(1rem + 1vw);
		text-align: center;
	}
}
#clima-ui {
	input[type="text"] {
		margin-bottom: 1rem;
		padding: 0.5rem;
		background: none;
		border: none;
		border-bottom: 2px solid $primary;
		font-size: 1.2rem;
		transition: all 0.2s;
		color: $blanco;
		&:focus-visible {
			border-color: $acento;
			outline: none;
		}
	}
	#el-clima {
		display: flex;
		justify-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}

	#consultar {
		@extend .btn-primary;
	}
	#resultado {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		.datos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}
		h2 {
			font-size: calc(1.5rem + 2.8vw);
			font-family: "Yellowtail", cursive;
		}
		.grados {
			font-size: calc(2.2rem + 2.7vw);
		}
		.descripcion {
			font-size: 1.2rem;
			//text-align: center;
		}
		.mas-datos {
			font-size: 1.2rem;
			span {
				line-height: 1.5;
			}
		}
	}
}
@media screen and (min-width: 600px) {
	.apps {
		flex-direction: row;
	}
	#el-clima {
		gap: 1rem;
	}
}